/* Base Styles*/

* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.profile-img {
    width: 200px;
    margin-top: 0 ;
}

img {
    width: 290px;
}

a {
  font-weight: bolder;
}

.push {
    min-height: calc(100vh - 89px);
    
}


/* Navigation */



#home {
    background-color: #FAFAFA;
    padding-bottom: 10px;
}

.main-nav, li, ul {
    text-decoration: none;
    color: #4A4A4A;
    list-style: none;
    text-align: center;
    letter-spacing: 0.05em;
    background-color: #FAFAFA;
    padding: 7px;
    margin: 5px 1px 5px 1px;
    
  }

 
  h1 {
    text-align: center;
    color: #000;
    padding: 5px;
   
  }

  h2 {
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px;
    margin-top: 0;

  }

  p {
    font-size: 13px;
    letter-spacing: 0.05em;
    padding: 15px 10px 15px 10px;
    margin: 0;
  }
  li {
    background-color: #FFFFFF;
    padding: 10px;
  }

 #profile {
    background-color: #FAFAFA;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-size: 14px;
 }
  #contact {
    background-color: #FAFAFA;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }

  /* Layout Containers */

.container {
  max-width: 1100px;
    margin: 0 auto;
}

.box {
    margin: 10px;
    min-height: 250px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
}

.hr {
box-sizing: content-box;
height: 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 10px;
  height: 60px;
  background-color: #FAFAFA;
  font-size: 12px;
}

/* Media Queries */

@media (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto; 
        background-color: aqua;
        display: flex;
        flex-direction: column;
    }

    .main-nav {
      display: flex;
      flex-direction: row;
    }
li {
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
}
    h1 {
      text-align: center;
      color: #000;
      padding-top: 25px;
      margin-bottom: 0;
     
    }

    #profile {
      background-color: red;
      width: 100%;
      margin: 0;
      text-decoration: none;
      color: #000;
      font-size: 14px;
      display: flex;
      /* flex-shrink: 3; */
  }
  
      
      
      
    
}