/* Base Styles*/

* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    margin: 0 auto;
    max-width: 1024px;
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.dp {
  width: 220px;
  display: flex;

  justify-content: center;
}

.profile-img {
    width: 200px;
    margin-top: 0 ;
}

img {
    width: 220px;
}

.eg {
  width: 290px;
}

a {
  font-weight: bolder;
}

.push {
    min-height: calc(100vh - 89px);
    
}


/* Navigation */



#home {
    background-color: #FAFAFA;
    padding-bottom: 10px;
}

.main-nav, li, ul {
    text-decoration: none;
    color: #4A4A4A;
    list-style: none;
    text-align: center;
    letter-spacing: 0.05em;
    background-color: #FAFAFA;
    padding: 7px;
    margin: 5px 1px 5px 1px;
    
  }

 
  h1 {
    font-family: 'Titan One';
    text-align: center;
    color: #FCE374;
    padding: 5px;
    padding-top: 30px;
    margin-top: 0;
  }

  h2 {
    font-family: 'Titan One';
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px;
    display: flex;
    margin: 25px;
    justify-content: center;

  }

  h3 {
    margin-top: 25px;
    margin-bottom: 0px;
  }

  h4 {
    font-family: 'Titan One';
    text-align: center;
  }

  p {
    font-size: 16px;
    letter-spacing: 0.05em;
    padding: 30px 15px 30px 15px;
    margin: 0;
  }
  li {
    background-color: #FFFFFF;
    padding: 10px;
    transition: 0.3s;
  }

  li:hover {
    background-color: #FCE374;
    border: 10px;
    border-color: black;
  }

 #profile {
    background-color: #FAFAFA;
    margin: 0;
    text-decoration: none;
    color: #000;
    font-size: 14px; /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .bio {
  
  text-align: center;

}
  #contact {
    background-color: #FAFAFA;
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }

  .call {
    padding: 10px;
    display: flex;
    justify-content: center;
    
  }

  /* Layout Containers */

.container {
  max-width: 1100px;
    margin: 0 auto;
    background-color: #FCE374;
}

.item {
  min-height: 250px;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

.hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 40px;
  overflow: visible;
}

#skills {
  display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    background-color: #FAFAFA;

}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 10px;
  height: 60px;
  background-color: #FAFAFA;
  font-size: 12px;
}

.full {
  display: none;
}

/* Media Queries */

@media (min-width: 768px) {

  body {
    margin: 0 auto;
    max-width: 1024px;
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
    .container {
        width: 100%;
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
    }

    
    .main-nav {
      display: flex;
      flex-direction: row;
    }

    #home {
      padding-top: 40px;
    }
li {
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
}
    h1 {
      text-align: center;
      padding-top: 25px;
      margin-bottom: 0;
     
    }
p {
  font-size: 13px;
    letter-spacing: 0.05em;
    padding: 15px 10px 15px 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .dp {
    width: 250px;
    display: flex;
    margin: 20px;
  }

  .bio {
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    padding: 0;
  }

    .item {
      margin: 10px;
      margin-bottom: 25px;
      flex: 40%;
  }

.examples {
  display: flex;
  flex-wrap: wrap;
}

.eg {
  width: 360px;
}

    #profile {
      background-color: #FAFAFA;
      flex-direction:row-reverse;
      width: 100%;
      margin: 0;
      padding: 20px;
      text-decoration: none;
      align-items: center;
      color: #000;
      font-size: 14px;
      display: flex;
      /* flex-shrink: 3; */
  }
  
#contact {
  margin-top: 0;
}

.contact{ 
  margin: 0 auto;
    width: 500px;
    text-align: center;
    margin-bottom: 50px;
}

.main-footer {
height: 110px;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;

}

.con-text {
  font-size: 16px;
}

.name { 
  margin-right: auto;
  padding-top: 10px;
}

.full { 
  display: inline-block;
  margin: 10px;
}

.small {
  display: none;
}
}

@media (min-width: 1024px) {

  body {
    background-color: #FAFAFA;
  }
  #home {
    display: flex;
    padding: 20px;
}

.bio {
  width: 550px;
}

#profile {
  align-items: flex-start;
}
.dp {
  width: 380px;
    margin: 0;
    margin-left: 30px;
    margin-right: 18px;
}

.item {
  flex-grow: 1;
    flex-basis: 200px;
    width: 300px;
}

.eg {
  width: 320px;
}


.main-footer {
  height: 50px;
  
  }
} 